

#custom-post-{{{id}}} {
    margin: 2vh;
    padding: 2vh;
    border: 2vh
    border-color: {{{firstColor}}};

    background: {{{firstColor}}};

}
#custom-post-{{{id}}}:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}} !important;

}

#custom-post-{{{id}}} div:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}};

}

#custom-post-{{{id}}} div a:hover {
	#text-decoration: none;
  	color: #fff;
	background: {{{color}}};
	border-color: {{{color}}};

}


