<!doctype HTML>
<html lang="en">

  <head class="bg">
    <link rel="stylesheet" href="../assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/custom.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
    
    <link href="../assets/css/simple-sidebar.css" rel="stylesheet">
    
    
  </head>
  <body class="bg">
    <!-- sidebar here-->
    <div class="container bg">
      <div class="row bg">
     


	<div class="col-sm-1 bg">
	   <div id="sidebar-wrapper">
             <ul class="sidebar-nav">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
             </ul>
           </div>
	</div>

	<div class="col-sm-11 bg">
	  
	  <div class="row bg">
	    <div class="col-sm-3 bg"></div>
	    <h1 id="title" class="text-center col-sm-6 bg" style=""><a href="#">j a b</a></h1>
	    <div class="col-sm-3 bg"></div>
	  </div>

	  <div class="row bg">
	    <div class="col-sm-0 bg"></div>
	    <h3 id="title" class="text-center col-sm-12 bg" style=""><hr></hr></h3>
	    <div class="col-sm-0 bg"></div>
	  </div>

	  <div class="row bg">
	    <div class="col-sm-3 bg"></div>
	    <h1 id="title" class="text-center col-sm-6 bg" style="">Since I Left You</h1>
	    <div class="col-sm-3 bg"></div>
	  </div>

	  <div class="row bg">
	    <!-- BODY HERE -->

	    
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum lacus, placerat in ultrices eget, cursus et felis. Suspendisse potenti. Fusce sed mauris bibendum, tincidunt nisl eu, bibendum dui. Maecenas tincidunt, dui eget lacinia eleifend, libero lectus hendrerit lectus, a placerat diam nulla laoreet nisi. Nunc a ex pellentesque libero efficitur varius. Cras efficitur elit a leo sodales, non maximus elit facilisis. Donec quis eleifend augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam placerat ullamcorper aliquam. Vestibulum felis leo, egestas in ex et, consectetur varius est. </p>
	  </div>
	  
	</div>
	

      </div>

    </div>
    
	
	
  <!-- /#wrapper -->
 <!--   
    <div class="container bg">
      <div class="row bg">
	<div class="col-sm-4 bg"></div>
	<h1 id="title" class="text-center col-sm-4 bg" style=""><a href="#">j a b</a></h1>
	<div class="col-sm-4 bg"></div>
      </div>

      <div class="row bg">
	<div class="col-sm-3 bg"></div>
	<h3 id="title" class="text-center col-sm-6 bg" style=""><hr></hr></h3>
	<div class="col-sm-3 bg"></div>
      </div>

      
    </div>

  <div class="row bg">
	<div class="col-sm-3 bg"></div>
	<h1 id="title" class="text-center col-sm-6 bg" style="">Since I Left You</h1>
	<div class="col-sm-3 bg"></div>
      </div>

-->


  
  </body>

</html>

